.about-countries {
  padding: 0 80px 525px;
  max-width: 1170px + 80px * 2;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  background: url("../img/back-countries.svg") bottom center no-repeat;
  position: relative;

  @media (max-width: $tablet-width) {
    padding: 0 0 111px;
    background: $white;
    position: relative;
  }
}

.about-countries__swiper {
  &--nojs {
    @media (max-width: $tablet-width) {
      &::before {
        display: none;
      }
    }
  }

  @media (max-width: $tablet-width) {
    padding: 0 2.6%;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 2.6%;
      right: 0;
      height: 1px;
      background-color: $intro-grey;
      opacity: 30%;
    }
  }

  @media (max-width: $mobile-width) {
    padding: 0 5%;

    &::before {
      left: 5%;
    }
  }
}

.about-countries__countries-list {
  @include reset-margins;
  margin-bottom: 65px;

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
    margin-right: -21px;
  }
}
