.footer-countries-list {
  @include reset-margins;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $mobile-width) {
    justify-content: space-between;
  }
}

.footer-countries-list__item {
  min-width: max-content;
  flex-basis: 30%;
  margin-right: 11px;
  display: flex;
  flex-direction: column;

  @media (max-width: $mobile-width) {
    flex-basis: 48%;
    margin-right: 0;
    align-items: center;

    &:last-child {
      flex-basis: 100%;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.footer-countries-list__link {
  display: inline-block;
  color: $basic-dark-grey;
  opacity: 50%;
  margin-bottom: 10px;
}
