.title {
  @include reset-margins;
  font: 600 55px/80px $font;
  color: $intro-grey;
  position: relative;
  display: inline-block;
  letter-spacing: -1px;

  &::before {
    content: "";
    position: absolute;
    bottom: -26px;
    left: 0;
    width: 70%;
    height: 3px;
    background-color: $basic-pink;
  }

  @media (max-width: $tablet-width) {
    display: block;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0;

    &::before {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    font-size: 24px;
    line-height: 36px;
  }
}
