//Colors
$white: #ffffff;
$black: #000000;
$basic-grey: #48494d;
$basic-pink: #fe7865;
$basic-orange: #f17d4b;
$basic-light-grey: #fbf8f8;
$basic-dark-grey: #141517;
$footer-separator: #d7d9df;
$intro-grey: #2c2e3f;
$basic-text: rgb(44, 46, 63);
$card-hover: rgba(20, 21, 23, 0.6);
$popup-back: #fbf8f8;
$popup-input: #d7d9df;
$ask-shadow: rgba(41, 54, 66, 0.1);

//Viewports
$smaller-mobile-width: 320px;
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1919px;

//Font
$font: "Montserrat", "Arial", sans-serif;
